.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.product {
  border-style: solid;
  border-width: medium;
  border-color: green;
  height: 30em;
  width: 30em;
  text-align: center;
  float: left;
  margin: 3em 3em;
  margin-left: 8em;
  color: white;
}

.productImage {
  width: 70%;
  height: 50%;
  margin-top: 2em;
}



.signup{
  height: 15em;
}

.signupH1 {
  float: left;
  margin-left: 10%;
  /* font-size: 3em; */
}

.signupForm {
  margin-right: 10%;
  float: right;
}

.login {
  height: 15em;
}

.loginH1 {
  float: left;
  margin-left: 10%;
  /* font-size: 3em; */
}

.loginForm {
  margin-right: 10%;
  float: right;
}

/* ////////////////////////// */

.navbarDiv {
  background-color: black;
  font-size: 1.1em;
  height: 3.5em;
  position: fixed;
  width: 100%;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-bottom-color: grey;
}

.navbarLi {
  display: inline-block;
  margin: 0 4em;
}

.navbarLoggedInStatus {
  display: inline-block;
  margin: 0 4em;
  color: green;
}

.navbarUlLoggedin {
  margin: 1em 0px;
}

.navbarUl {
  margin: 1em 0px;
  text-align: right;
  margin-right: 5%;
}

.marketplace {
  padding-top: 5%;
}
